html {
    font-size: 15px;
}

body {
    direction: rtl;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.hz-display-none {
    display: none;
}

.hz-font-size-1,
.uk-navbar-nav > li > a.hz-font-size-1 {
    font-size: 1rem;
}

.hz-font-size-1-3 {
    font-size: 1.3rem;
}

.hz-font-size-1-75 {
    font-size: 1.75rem;
}

.hz-border {
    border: 1px solid #e5e5e5;
}

.hz-border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.hz-border-2,
hr.hz-border-2:after {
    border-width: 2px;
}

.hz-border-3 {
    border-width: 3px;
}

.hz-border-brand-color,
hr.hz-border-brand-color:after {
    border-color: #0054a5;
}

.hz-text-default {
    color: #ffffff;
}

.hz-background-transparent {
    background-color: transparent;
}

.hz-background-transparent + .uk-sticky-placeholder {
    display: none;
}

.hz-button-white {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #e5e5e5;
}

.hz-dropdown-auto-width {
    min-width: auto;
}

.hz-dropdown-thin {
    padding: 16px;
}

.uk-divider-vertical.hz-divider-vertical-1-2 {
    height: 50px;
}

.uk-offcanvas-bar .uk-nav-default {
    font-size: 1.1rem;
}

ul.uk-nav-sub {
    padding: 5px 25px 5px 0;
}

@media (min-width: 640px) {
    .hz-padding-remove-horizontal\@s {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 960px) {
    .uk-hidden.uk-visible\@m {
        display: initial !important;
    }

    .hz-text-default\@m {
        color: #ffffff !important;
    }

    .hz-background-transparent\@m {
        background-color: transparent;
    }

    .hz-background-transparent\@m + .uk-sticky-placeholder {
        display: none;
    }

    .hz-font-size-2\@m {
        font-size: 2rem;
    }
}